*{
    font-family: sans-serif;
}

  #search{
    display: block;
    margin-bottom: 10px;
    color: #7dc8c8 ;
    height: 40px;
    width: 150px;
    background-color: whitesmoke;
    border: 2px solid #7dc8c8;
    border-radius: 20px;
    font-weight: 900;

  }
  #plus{
    display: block;
    margin-bottom: 10px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: x-large;
    color: white;
    background-color: #00d1b2;
    border: solid #00d1b2;
  }
  #create{
    display: block;
    margin-bottom: 10px;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    height: 40px;
    width: 200px;
    color: white;
    background-color: skyblue;
  }
  
  